*{
    margin:0px;
    padding:0px;
     font-family: 'Comfortaa', cursive;

}
body{
    background-color: #1F1E2E;

}
.header{
    background:#27283A;
    width:100%;
    margin:0px;
   display:flex;
    flex-wrap: wrap;
    padding-top:15px;
    padding-bottom:15px;
}
.header ul{
    list-style: none;
}
.header ul li{
   
    float:left;
    height:40px;
    
    
}
.header div{
    height:20px;

margin-top:20px;
    margin-left:20px;
}
.header a{
    color:#fff;
    font-size:17px;
    text-decoration: none;
    font-weight: 300;
}
#Active{
    color:#91B7FE;
}
@media(max-width:900px){
    .productCard{
        width:45% !important;
        margin:2px !important;
    }
    .productCard h3{
        width:80% !important;
    }
    
    .ProductHolder{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap !important;
    }
}
.Featurebtn{
    width:90%;
    padding:5px;
    
    background:#438af4;
    color:#fff;
    border:none;
}
.error{
   background:#ff1100; 
}
.container.cover{
    width:100%;
    height:100vh;
    background: rgba(255,255,255,0.3);
}
#DeliveryLogin{
    width:40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    flex-direction: column;
    margin:100px auto;
    height:400px;
    background: #fff; border-radius: 5px;
}
#DeliveryLogin input{
    width:80%;
    height:50px;
    padding:5px;
    color:#1a1a1a;
    padding-left:20px;
    font-size:15px;
    border-radius: 2px;
    border:1px solid #888;
    margin:10px;
}
#DeliveryLogin button{
    border:1px solid #1a1a1a;
    color:#1a1a1a;
    transition: 0.5s all ease;
}
#DeliveryLogin button:hover{
    
    background: #1a1a1a;
    color:#fff;
}

.overlayMessage{
    width:100%;
    height:100vh;
    display: none;
    position: fixed;
    background:rgba(0,0,0,0.5);
    
}
.overlayMessage .Messagebox{
    width:60%;
    padding:20px;
    margin:100px;
    background:#fff;
}
.overlayMessage .Messagebox textarea{
    width:80%;
    border:1px solid #999;
    resize: none;
    outline:none;
    padding:20px;
   margin:10px;
   
}
.overlayMessage .Messagebox #send{
    width:100px;
    padding:10px;
    color:#fff;
    background:#438af4;
    border:none;
}
.overlayMessage .Messagebox .closeMessagebox{
    color:#fff;
    width:40px;
    height:40px;
    border:none;
    border-radius:100%;
    background:#438af4;
    font-size:30px;
    float:right;
}
@media(max-width: 900px){
    .Messagebox{
        width:100% !important; 
        margin:0px !important;
        height:100vh;
        padding:0px !important;
        
    }
    .closeMessagebox{
        float:none !important; 
        margin-top:30px;
        margin-bottom:20px;
    }
    textarea{
        margin:0px !important;
        height:50vh;
    }
}